/* Smooth page jumps */
html {
	scroll-behavior:smooth
}
/* Define the default font for the
   highest Compatibility container */
.page-con-container {
	font-family:Roboto-Regular
}
.compat-builds-version {
	border-bottom:1px dotted #3198ff
}
.compat-status-main {
	position:relative;
	width:100%;
	height:30px;
	border-radius:30px
}
.compat-status-main:hover {
	background:rgba(0,128,255,.1)
}
.compat-status-icon {
	position:relative;
	top:10px;
	float:left;
	width:10px;
	height:10px;
	border-radius:100%;
	-webkit-box-shadow:0 5px 16px 0 rgba(0,0,0,.2);
	box-shadow:0 5px 16px 0 rgba(0,0,0,.2);
	margin-left:10px
}
.compat-network-icon {
	position:relative;
	top:2px;
	width:14px;
	height:14px;
	left:2px
}
.compat-status-text {
	font-size:14px;
	line-height:30px;
	position:relative;
	left:11px;
	width:750px;
	height:30px
}
.compat-status-text p {
	display:inline
}
.compat-status-progress {
	position:absolute;
	top:9px;
	right:0;
	float:right;
	width:400px;
	height:12px;
	border-radius:24px;
	overflow:hidden;
	padding-right:10px
}
.compat-search-character {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%
}
.compat-search-character:hover {
	background:rgba(122,179,255,.2);
	transform:scale(1.1)
}
#compat-history-description {
	font-size:14px
}
#compat-history-months {
	font-size:13px;
	margin-top:12px
}
#compat-history-options {
	font-size:13px
}
.compat-footer {
	position:relative;
	width:100%;
	height:46px;
	color:#fff;
	text-align:center;
	background:#4e34c9;
	border-radius:6px;
	margin-bottom:20px;
	margin-top:20px
}
.compat-footer p {
	font-size:14px;
	line-height:46px;
	padding-bottom:10px
}
.compat-footer a {
	color:#fff;
	text-decoration:underline
}
.color-red {
	color:#e74c3c!important
}
.color-green {
	color:#2ecc71!important
}
.compat-tvalidity-list {
	font-size:12px;
	color:#e74c3c
}
.compat-table-outside {
	width:100%;
	display:flex;
	justify-content:space-between
}
.compat-table-inside {
	width:100%;
	margin:1px
}
.compat-table-checkbox {
	display:none
}
.compat-table-header {
	font-weight:700;
	font-size:14px;
	line-height:32px;
	overflow:hidden;
	color:#000;
	margin:1px;
	display:flex
}
.compat-table-row {
	font-size:14px;
	line-height:32px;
	overflow:hidden;
	color:#000;
	margin:1px;
	display:flex
}
.compat-table-row:nth-child(2n) {
	background:rgba(0,102,204,.04)
}
.compat-table-row:hover {
	background-color:rgba(0,102,204,.1)
}
.compat-table-cell {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	width:100%
}
.compat-table-cell-gameid {
	width:300px
}
.compat-table-cell-status {
	width:200px
}
.compat-table-cell-updated {
	width:250px
}
.compat-table-cell-date {
	width:200px
}
.compat-table-cell img {
	width:22px;
	height:auto
}
.compat-table-dropdown {
	display:none;
	padding-left:5px
}
.compat-table-inside > input[type=checkbox] {
	display:none;
	height:auto
}
.compat-table-inside > input[type=checkbox]:checked + .compat-table-dropdown {
	display:block
}
.compat-icon-media {
	position:relative;
	z-index:1;
	float:left;
	width:20px!important;
	height:20px!important;
	margin-top:2px;
	margin-right:10px;
	background:#fff;
	border-radius:100%;
	padding:4px;
	-webkit-box-shadow:0 5px 16px 0 rgba(0,0,0,.1);
	box-shadow:0 5px 16px 0 rgba(0,0,0,.1)
}
.compat-icon-flag {
	position:relative;
	z-index:1;
	float:left;
	margin-top:5px;
	margin-left:2px;
	margin-right:16px;
	border-radius:2px;
	height:22px!important;
	width:23px!important
}
.builds-icon {
	position:relative;
	z-index:1;
	float:left;
	width:16px;
	height:16px;
	margin-right:12px;
	padding:4px 0
}
.compat-icon-media:hover {
	-webkit-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1)
}
#compat-con-search {
	left:0;
	width:100%;
	height:48px;
	margin:0;
	padding:0;
	overflow:hidden;
	border-radius:6px;
	margin-bottom:20px;
	margin-top:40px;
	-webkit-transition:.3s ease-in-out;
	-o-transition:.3s ease-in-out;
	transition:.3s ease-in-out
}
#compat-con-search:hover {
	background:rgba(0,102,204,.05)
}
#compat-con-search tr {
	border:0!important
}
#compat-con-search tr td {
	font-size:16px;
	line-height:44px;
	position:relative;
	height:100%;
	cursor:pointer;
	text-align:center;
	color:#000
}
.compat-status-container {
	margin-top:12px;
	margin-bottom:12px;
	padding-top:12px;
	border-top:1px solid rgba(0,0,0,.05)
}
.compat-menu {
	font-weight:400;
	text-align:right;
	font-size:14px
}
.compat-menu a {
	padding:8px 10px;
	margin-left:6px;
	border-radius:30px;
	color:#000;
	font-weight:700;
	-webkit-box-shadow:0 5px 32px 0 rgba(0,0,0,.1);
	box-shadow:0 5px 32px 0 rgba(0,0,0,.1)
}
.compat-menu a:hover {
	color:#0074e7 !important
}
#compat-con-searchbox {
	position:relative;
	height:44px;
	border-radius:6px;
	margin-bottom:24px;
	margin-top:20px;
	overflow:hidden;
	border:solid 2px #0080ff!important;
	background:-webkit-linear-gradient(-135deg,#49a4ff 25%,#0074e7 100%);
	-webkit-box-shadow:0 10px 16px 0 rgba(0,116,231,.2);
	box-shadow:0 10px 16px 0 rgba(0,116,231,.2)
}
#compat-con-searchbox:hover {
	border:solid 2px #80bfff!important
}
#searchbox {
	position:absolute;
	float:left;
	width:100%;
	height:100%;
	overflow:hidden
}
#searchbox-field {
	font-size:16px;
	padding-left:50px;
	height:100%;
	width:100%;
	color:#fff;
	border:0;
	background:rgba(122,179,255,.01);
	transition:.1s ease-in-out;
	outline-color:transparent
}
input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {
	color:#fff
}
input {
	height:100%;
	padding-left:24px;
	color:#fff;
	border:0
}
#compat-searchbox-button {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	margin:0 auto;
	cursor:pointer;
	opacity:0
}
#compat-searchbox-div {
	line-height:40px;
	position:absolute;
	left:0;
	top:0;
	float:left;
	width:44px;
	height:44px;
	color:#fff;
	background:url(/img/icons/compat/search-h.png) no-repeat center;
	background-size:16px;
	border-radius:100%
}
#compat-searchbox-div:hover {
	cursor:pointer;
	background:url(/img/icons/menu/search-h.png) no-repeat center;
	background-size:16px
}
.compat-con-pages {
	font-size:14px;
	font-weight:700;
	line-height:60px;
	position:relative;
	height:auto;
	min-height:30px;
	margin-top:20px;
	text-align:center;
	color:#000;
	border-radius:6px;
	background:rgba(0,102,204,.04)
}
.compat-con-pages a {
	padding:3px 12px;
	font-weight:100;
	border-radius:6px;
	-webkit-box-shadow:0 10px 16px 0 rgba(0,0,0,.1);
	box-shadow:0 10px 16px 0 rgba(0,0,0,.1);
	background:#fff;
	border:solid 2px transparent;
	font-weight:700;
	color:#000
}
.compat-con-pages a:hover {
	width:22px;
	border:solid 2px transparent!important;
	text-decoration:none!important;
	color:#fff!important;
	background:#0074e7!important
}
#compat-hdr-left {
	font-size:14px;
	line-height:15px;
	position:relative;
	width:240px;
	text-align:left;
	top:1px;
	font-weight:700;
	border-radius:33px;
	padding:6px 10px;
	-webkit-box-shadow:0 5px 32px 0 rgba(0,0,0,.1);
	box-shadow:0 5px 32px 0 rgba(0,0,0,.1);
	border:solid 2px #fff
}
#compat-hdr-left a {
	color:#000
}
#builds-hdr-left {
	font-size:14px;
	line-height:35px;
	position:relative;
	width:310px;
	margin-top:-15px;
	text-align:left;
	color:#000;
	font-weight:700;
	margin-bottom:10px
}
#compat-hdr-left2 {
	font-size:12px;
	line-height:35px;
	position:relative;
	width:210px;
	margin-top:-20px;
	margin-left:24px;
	text-align:left;
	color:#000
}
#compat-hdr-right {
	font-size:14px;
	float:right;
	width:auto;
	margin-top:-28px;
	margin-right:0;
	text-align:right;
	color:#000;
	font-weight:700
}
#compat-hdr-right a {
	line-height:22px;
	position:relative;
	width:auto;
	height:20px;
	margin-left:6px;
	padding:6px 10px;
	text-align:center;
	color:#000;
	border-radius:28px;
	font-weight:unset;
	border:solid 2px;
	-webkit-box-shadow:0 5px 16px 0 rgba(0,0,0,.1);
	box-shadow:0 5px 16px 0 rgba(0,0,0,.1);
	font-weight:700
}
#compat-hdr-right b {
	color:#fff
}
#compat-hdr-right a:hover {
	opacity:.8;
	color:#fff
}
#compat-hdr-right a:nth-child(1) {
	border-color:#3198ff;
	color:#3198ff
}
#compat-hdr-right a:nth-child(2) {
	border-color:#1ebc61;
	color:#1ebc61
}
#compat-hdr-right a:nth-child(3) {
	border-color:#f9b32f;
	color:#f9b32f
}
#compat-hdr-right a:nth-child(4) {
	border-color:#e08a1e;
	color:#e08a1e
}
#compat-hdr-right a:nth-child(5) {
	border-color:#e74c3c;
	color:#e74c3c
}
#compat-hdr-right a:nth-child(6) {
	border-color:#455556;
	color:#455556
}
.compat-tx1-criteria {
	font-size:14px;
	line-height:24px;
	position:relative;
	width:100%;
	height:auto;
	margin-bottom:20px;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	color:#000;
	background:#fff
}
.txt-compat-build {
	line-height:20px;
	position:relative;
	height:20px;
	padding:2px 8px;
	text-align:center;
	color:#fff!important;
	background:#20b2aa
}
.txt-compat-nobuild {
	line-height:20px;
	position:relative;
	width:68px;
	height:20px;
	cursor:pointer;
	text-align:center;
	color:#fff!important
}
.txt-compat-status {
	line-height:15px;
	position:relative;
	top:0;
	width:66px;
	height:15px;
	padding:5px 4px;
	text-align:center;
	text-transform:none;
	color:#fff!important;
	border-radius:26px;
	border:solid 2px #fff;
	-webkit-box-shadow:0 5px 16px 0 rgba(0,0,0,.1);
	box-shadow:0 5px 16px 0 rgba(0,0,0,.1)
}
.txt-compat-build:hover {
	opacity:.8
}
.txt-compat-nobuild:hover {
	opacity:.8
}
.compat-status-progressbar {
	width:400px;
	border:0;
	background:linear-gradient(to right,rgba(255,255,255,.0),rgba(49,152,255,.2));
	direction:rtl;
	vertical-align:4px
}
.compat-status-progressbar::-webkit-progress-bar {
	background-color:transparent
}
#compat-progress1::-webkit-progress-value, #compat-progress1::-moz-progress-bar {
	background-color:#1ebc61
}
#compat-progress2::-webkit-progress-value, #compat-progress2::-moz-progress-bar {
	background-color:#f9b32f
}
#compat-progress3::-webkit-progress-value, #compat-progress3::-moz-progress-bar {
	background-color:#e08a1e
}
#compat-progress4::-webkit-progress-value, #compat-progress4::-moz-progress-bar {
	background-color:#e74c3c
}
#compat-progress5::-webkit-progress-value, #compat-progress5::-moz-progress-bar {
	background-color:#455556
}
@media screen and (max-width:1000px) {
	#compat-hdr-left {
		margin-bottom:37px!important
	}
	#compat-hdr-left2 {
		font-size:12px!important;
		line-height:28px!important;
		position:relative!important;
		width:100%!important;
		height:45px!important;
		margin-top:-15px!important;
		margin-left:24px!important;
		text-align:left!important;
		color:#000!important
	}
	#compat-hdr-right {
		font-size:11px!important;
		float:right!important;
		width:100%!important;
		margin-right:0!important;
		margin-bottom:3px!important;
		text-align:center!important;
		color:#000!important;
		padding-top:4px!important
	}
	#compat-hdr-right .highlightedText {
		font-size:12px;
		font-weight:700
	}
	.compat-status-progressbar {
		width:400px;
		opacity:.3;
		border:0;
		background-color:transparent;
		direction:rtl
	}
	.compat-status-text {
		font-size:12px!important
	}
	.compat-menu a {
		font-size:12px!important
	}
	#featured-tx2-block {
		font-size:12px!important
	}
	.page-con-container {
		margin:auto 15px!important
	}
}
.highlightedText {
	font-size:14px;
	font-weight:700;
	color:#0080ff
}
.compat-profiler {
	background:#191f36 !important;
	border-radius:6px;
	padding:14px 14px;
	margin-bottom:20px;
	font-size:14px;
	color:#fff;
	line-height:24px;
	border:solid 2px #2f3a65
}
.compat-profiler p:nth-child(n) {
	background:rgba(0, 0, 0, 0.1);
	margin-bottom:20px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:6px;
	font-size:14px
}
.debug-main {
	font-size:14px;
	padding-top:20px;
	padding-bottom:20px;
	background:rgba(0,0,0,.1);
	padding:14px 14px;
	border-radius:6px;
	line-height:24px;
	margin-bottom:20px;
	background:#191f36 !important;
	border:solid 2px #2f3a65
}
.debug-menu-button {
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:6px
}
.debug-menu-button a {
	color:#ffffff
}
.debug-menu-button a:hover {
	color:#03A9F4;
	text-decoration:underline
}
.debug-menu-button:nth-child(2n+1) {
	background:rgba(0, 0, 0, 0.1)
}
.debug-main-content {
	margin-top:20px;
	font-size:14px
}
.debug-main-content p, .debug-main-content span {
	font-size:14px
}
.debug-main-content input {
	background:#161c30;
	height:35px;
	width:200px;
	margin-bottom:20px;
	border:solid 2px #2f3a65;
	padding-left:12px
}
.debug-main-content button {
	background:#2f3a65;
	height:35px;
	width:200px;
	margin-bottom:20px;
	border-radius:6px;
	padding-left:12px;
	color:#fff;
	margin-right:10px;
	cursor:pointer;
	border:solid 2px transparent
}
.debug-main-content button:hover {
	background:#2f3a65;
	border:solid 2px #0080ff
}
.debug-tvalidity-title {
	font-size:14px;
	padding-left:10px;
	padding-top:12px;
	padding-bottom:0px;
	border-radius:6px;
	background:rgba(255, 0, 0, .2);
	border:solid 2px rgba(255, 0, 0, .2);
	line-height:14px;
	margin-bottom:20px
}
